@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap");
$Primary: #1e1e1e;
$Dark: #121212;
$Pure: #ffffff;
$Gray: #1d1d1d;
$Mild: #b0b9b9;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  color: $Pure;
  background: $Primary;
}
.container {
  width: 1460px;
  max-width: 90%;
  margin: 0 auto;
}
.btn-sec {
  background: transparent;
  color: $Pure;
  border-color: #ffffff;

  &:hover {
    background-color: $Pure;
    color: $Dark;
  }
}
.btn {
  padding: 8px 30px;
  border: 1px solid;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;

  font-size: 16px;
}
.btn-primary {
  color: $Dark;
  background: $Pure;
  border-color: transparent;
}
.btn-primary:hover {
  color: $Pure;
  background: transparent;
  border-color: $Pure;
}
header {
  background: linear-gradient(135deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2)),
    url(../img/sunrise.jpg);
  min-height: 100vh;
  background-size: cover;
  nav {
    padding: 20px 40px 20px 100px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid $Gray;
    .nav-right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      a {
        text-decoration: none;
        color: $Pure;
        margin-right: 30px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -30px;
          width: 0;
          height: 2px;
          background: $Pure;
          transition: width 0.3s ease-in-out;
        }
        &.active::after {
          width: 70%;
        }

        &:hover::after {
          width: 70%;
        }
      }
      .search {
        background: $Dark;
        display: flex;
        align-items: center;
        padding: 10px 15px;
        border-radius: 50px;
        input {
          background: transparent;
          border: none;
          outline: none;
          font-size: 16px;
          color: $Pure;
        }
      }
    }
  }
  .hero {
    position: relative;
    .cta {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: calc(100vh - 80px);
      h1 {
        font-weight: 400;
        font-size: 22px;
        line-height: 1.7;
        margin-bottom: 30px;
      }
      div {
        flex: 1;
      }
      .left-section {
        padding: 0 60px 0 70px;
      }
      .right-section {
        img {
          height: 60vh;
          transform: rotate(20deg);
          animation: MoveInSpace 12s ease-in-out infinite alternate;
        }
      }
    }
  }
  @keyframes MoveInSpace {
    50% {
      transform: translateY(70px) rotate(-30deg) scale(0.8);
    }
  }
  .social {
    div {
      border: 2px solid $Pure;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
      cursor: pointer;
      opacity: 0;

      i {
        color: $Pure;
      }
      &:hover {
        background-color: $Pure;
        transition: all 0.5s ease-in-out;
        i {
          color: $Dark;
        }
      }
    }
    position: absolute;
    left: 0;
    top: 0;
    border-right: 1px solid $Gray;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 88vh;
  }
  @keyframes MovIn {
    from {
      transform: translateX(-100px);
    }
    to {
      transform: translateX(0px);
      opacity: 1;
    }
  }
}
.strip {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: $Dark;
  padding: 30px 0;
}
.rocket {
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  grid-gap: 80px;
  padding: 100px 0;
  p {
    line-height: 1.6;
  }
  .rocket-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    span {
      font-size: 0;
      position: relative;
      img {
        width: 100%;
      }
    }
    span {
      &:nth-child(1) {
        &::after {
          bottom: 6px;
          left: 96%;
        }
      }
      &:nth-child(2) {
        &::after {
          bottom: 220px;
          right: 100%;
        }
      }
      &:nth-child(3) {
        &::after {
          bottom: 570px;
          right: 90%;
        }
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        height: 2px;
        background: $Pure;
        width: 0px;
        transition: width 1s ease;
      }
      &:nth-child(3) {
        &::before {
          content: "";
          display: block;
          position: absolute;
          height: 2px;
          background: $Pure;
          width: 0px;
          transition: width 1s ease;
          bottom: 290px;
          left: 90%;
        }
      }
    }
  }
}
section.rocket .rocket-body span.active:nth-child(1):after {
  width: 120px;
}

section.rocket .rocket-body span.active:nth-child(2):after {
  width: 180px;
}

section.rocket .rocket-body span.active:nth-child(3):after {
  width: 200px;
}

section.rocket .rocket-body span.active:nth-child(3):before {
  width: 160px;
}
@keyframes jump {
  50% {
    transform: translateY(-50px);
  }
}
section.rocket .rocket-body span.active:nth-child(1) {
  animation: jump 1s ease-in-out forwards;
}

.block {
  width: 70%;
  h1 {
    font-size: 33px;
    font-weight: 400;
  }
  h2 {
    font-weight: 400;
    margin-bottom: 20px;
  }
  button {
    margin-top: 30px;
  }
}
.payload {
  padding-top: 130px;
  h2 {
    padding-left: 80px;
  }
}
.dragon {
  padding-top: 120px;
}
.composite {
  padding-top: 60px;
}
.first-stage {
  padding-top: 60px;
}
.capacity {
  display: flex;
  align-items: center;
  padding-top: 40px;
  div {
    &:first-child {
      margin-right: 40px;
    }
  }
  h4 {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  h6 {
    font-size: 40px;
    font-weight: 600;
    small {
      font-size: 12px;
    }
  }
}
.second-stage {
  margin-top: 60px;
}

.right-block {
  .capacity {
    padding-top: 120px;
  }
  .single {
    padding-top: 40px;
  }
  .engines {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    img {
      width: 180px;
    }
  }
  .marine {
    padding-top: 100px;
    width: 70%;
    h2 {
      font-size: 14px;
      padding-left: 100px;
      margin-bottom: 26px;
    }
  }
  .floating-graphics {
    position: sticky;
    float: right;
    top: 60px;
    margin-right: -60px;
    img {
      height: 250px;
    }
  }
}
.with-underline {
  position: relative;
  margin-bottom: 38px;
}
.with-underline::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -12px;
  display: block;
  width: 38%;
  height: 2px;
  background: $Pure;
}
h1.with-underline::before {
  width: 20%;
}
footer {
  background: $Dark;
  padding: 60px 0;
}

footer > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

footer .copyright span {
  font-size: 12px;
  display: inline-block;
  margin-top: 5px;
}

footer .copyright img {
  height: 30px;
}

footer h1 {
  font-size: 18px;
  position: relative;
  margin-bottom: 30px;
}

footer h1:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  display: block;
  width: 60px;
  height: 2px;
  background: $Pure;
}

footer ul {
  list-style-type: none;
}

footer ul li:nth-child(even) {
  margin: 10px 0;
}

footer ul li a {
  color: $Mild;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}

footer ul li a:hover {
  color: $Pure;
}

footer .footer-socials a {
  margin-right: 20px;
  font-size: 22px;
  color: $Mild;
}

footer .footer-socials a:hover {
  color: $Pure;
}
